body{
    margin: 1em;
    background-color: azure;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    background-color: cadetblue;
    border-style: solid;
    border-width: 3px;
    border-color: darkslategray
}

.change{
    background-color: darkslategray;
}

button{
    margin-bottom: 1em;
    background-color: cadetblue;
    color: azure;
    border-style: solid;
    border-width: 3px;
    border-color: darkslategrey;
}